<div class="container">
    <nav class="navbar navbar-expand-lg main-nav px-0">
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto text-uppercase f1">
                <li>
                    <a href="/" class="active active-first">خانه</a>
                  </li>
                  <li>
                    <a href="/contact">تماس با ما</a>
                  </li>
                  <li>
                    <a href="#service">تمام پست ها</a>
                  </li>
        
                  <li>
                    <a href="#service" class="pl-4">درباره ما</a>
                  </li>
            </ul>
        </div>

        <%- include("./search.ejs") %> 
    </nav>
</div>