<form action="/search" method="POST" class="form-inline my-2 my-lg-0">
    <div class="collapse navbar-collapse" id="mainMenu">
      <div class="container h-100">
          <div class="d-flex h-50">
            <div class="searchbar">
              
              
              <button class="search_icon my-2 my-sm-0"><span class="fa fa-search"></span></button>
              <input class="search_input" type="text" name="search" placeholder="Search..." aria-label="search">
            </div>
          </div>
        </div>
    </div>
  </form>