<div id="notfound">
    <div class="notfound">
    <div class="notfound-404">
    <h1>404</h1>
    </div>
    <h2>ای بابا گشتم نیست صفحه ایی که میخوای</h2>
    <p> گشتم نبود نگرد نیست
         </p>

         <p><a href="/" class="btn btn-outline-danger">برو به صفحه اصلی</a></p>
    <div class="notfound-social">
    <a href="facebook.com"><i class="fa fa-facebook"></i></a>
    <a href="twitter.com"><i class="fa fa-twitter"></i></a>
    <a href="pinterest.com"><i class="fa fa-pinterest"></i></a>
    <a href="google.com"><i class="fa fa-google-plus"></i></a>
    </div>
    </div>
    </div>