<div id="notfound">
    <div class="notfound">
    <div class="notfound-404">
    <h1>500</h1>
    </div>
    <h2>خطای 500</h2>
    <p>مشکلی از سمت سرور رخ داده است ، لطفا مجددا تلاش بنمائید
         </p>

         <p><a href="#" class="btn btn-outline-danger">برو به صفحه اصلی</a></p>
    <div class="notfound-social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    </div>
    </div>
    </div>